body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  color: #000;
  background-color: #fff;
  text-transform: uppercase;
}

*, *::before, *::after {
  box-sizing: inherit
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

a {
  text-decoration: none;
}

ul, p, h1, h2, h3 {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  position: relative;
  padding: 15px 0;
}

.header__logo {
  position: absolute;
  left: 50%;
  margin-left: -70px;
  top: 0;
}

.navigation__list {
  list-style: none;
  display: flex;
  justify-content: flex-start;
}

.navigation__item {
  width: 239px;
  text-align: center;
}

.navigation__item:nth-child(3) {
  margin-left: auto;
}

.navigation__list a {
  color: #000;
}

.navigation__list a:hover {
  color: #81b3d2;
}

.navigation__list a:active {
  color: #000;
  opacity: .3;
}

.navigation__list .active {
  color: #766357;
}

.features__intro {
  padding: 52px 0 50px 0;
  text-align: center;
}

.features p, .features span {
  font-weight: 400;
  color: #333;
  font-size: 14px;
  line-height: 21px;
}

.features__intro b {
  font-size: 21px;
  line-height: 26px;
}

.features__intro p {
  margin-top: 23px;
  line-height: 26px;
}

.features__list {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.features__line {
  display: flex;
  flex-direction: row;
}

.features__item {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 50px 50px 85px 50px;
  width: 400px;
}

.features__text {
  text-align: center;
}

.features h3 {
  font-size: 21px;
  line-height: 21px;
  color: #000;  
  margin-bottom: 22px;
}

.features__text p {
  margin-top: 20px;
}

.features__item--with-preview {
  flex-direction: row;
  padding: 0;
  width: auto;
}

.features__item--with-preview h3,
.features__item--with-preview span,
.features__item--with-preview p {
  color: #fff;
}

.features__item--with-preview .features__text {
  width: 400px;
  background-color: #81b3d2;
  padding: 47px 49px 0;
}

.features__preview img {
  width: 100%;
  display: block;
}

.features__icon {
  margin: 10px 0 20px;
}

.features__line:last-child {
  background-color: #eee;
}

.features__line:last-child .features__item {
  padding-bottom: 55px;
}

.search-hotel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 52px;
  text-align: center;
}

.search-hotel b {
  font-size: 30px;
  line-height: 36px;
  color: #000;
  margin-bottom: 23px;
}

.search-hotel p {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #333;
  margin-bottom: 47px;
}

.search-hotel__show-form {
  display: block;
  width: 568px;
  height: 86px;
  background-color: #766357;
  font-size: 21px;
  line-height: 86px;
  color: #fff;
  text-align: center;
}

.hotel__book {
  background-color: #766357;
  color: #fff;
}

.search-hotel__show-form:hover, .hotel__book:hover {
  background-color: #604e43;
}

.search-hotel__show-form:active, .hotel__book:active {
  background-color: #503e33;
  color: #928a85;
}

.search-hotel__form {
  display: none;
}

.map {
  width: 100%;
  height: 590px;
  border: 0;
}

/* === footer === */

.footer-main {  
  position: absolute;
  width: 100%;
  bottom: 0px;  
}

.footer__background {
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: .85;
  background-color: #fff;
  z-index: 1;
}

.footer__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  padding: 35px 100px 35px 135px;
  z-index: 2;
}

.footer__hashtag {
  display: flex;
  align-items: center;
}

.footer__hashtag a {
  font-size: 21px;
  line-height: 26px;
  color: #000;
}

.social__list {
  list-style: none;
  display: flex;
}

.social__list li:nth-child(2) {
  margin: 0 6px;
}

.hotel__more {
  color: #fff;
}

.social__link, .hotel__more {
  background-color: #81b3d2;
}

.social__link {
  display: block;
  width: 46px;
  height: 48px;
  color: transparent;
  font-size: 0;
  background-repeat: no-repeat;
  background-position: center;
}

.twitter {
  background-image: url(../img/svg/twitter.svg);
}

.facebook {
  background-image: url(../img/svg/fb-icon.svg);
}

.youtube {
  background-image: url(../img/svg/youtube.svg);
}

.social__link:hover, .hotel__more:hover {
  background-color: #669ec0;
}

.social__link:active, .hotel__more:active {
  background-color: #5496bd;
  color: #88b6d1;
}

.footer__copyright {
  display: flex;
  align-items: center;
}

.footer__copyright span {
  font-weight: 400;
}

.footer__copyright a {
  line-height: 0px;
}

/* === catalog === */

.hotels__list {
  list-style: none;
}

.hotels__item {
  border-bottom: 1px solid #e5e5e5;
}

.hotel {
  display: flex;
  align-items: stretch;
  padding: 30px 70px;
}

.hotel__preview img {
  display: block;
}

.hotel__info {
  display: flex;
  flex-flow: row wrap;
  padding-left: 30px;
}

.hotel__name {
  width: 100%;
  font-size:  21px;  
}

.hotel__name a {  
  color: #000;
}

.hotel__name a:hover {
  color: #81b3d2;
}

.hotel__name a:active {
  color: #000;
  opacity: .3;
}

.hotel__column {
  display: flex;
  flex-direction: column;
  margin-right: 6px;
  justify-content: space-between;
}

.hotel__type, .hotel__cost, .hotel__rating p {
  line-height: 21px;
  font-weight: 400;
  color: #333;
}

.hotel__rating {
  align-self: flex-end;
  margin-left: auto;
}

.hotel__rating p {
  color: #666;
  background-color: #f2f2f2;
}

.hotel__more,
.hotel__book {
  line-height: 21px;
  padding: 3px 17px;
}