*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  color: #000;
  background-color: #f2f2f2;
  text-transform: uppercase;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, .2);
          box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, .2);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  position: relative;
  padding: 15px 0;
}

.header__logo {
  position: absolute;
  left: 50%;
  margin-left: -70px;
  top: 0;
}

.navigation__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.navigation__item {
  width: 239px;
  text-align: center;
}

.navigation__item:nth-child(3) {
  margin-left: auto;
}

.navigation__list a {
  color: #000;
}

.navigation__list a:hover {
  color: #81b3d2;
}

.navigation__list a:active {
  color: #000;
  opacity: .3;
}

.navigation__list .active {
  color: #766357;
}

.features__background {
  background-color: #aea7a7;
}

.features__background img {
  display: block;
}

.features__intro {
  padding: 52px 290px 50px;
  text-align: center;
}

.features p, 
.features span {
  font-weight: 400;
  color: #333;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  padding: 0;
}

.features__intro b {
  font-size: 21px;
  line-height: 26px;
}

.features__intro p {
  margin-top: 23px;
  line-height: 26px;
}

.features__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
}

.features__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.features__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 50px 50px 80px 50px;
  width: 400px;
}

.features__item--motel {
  background-image: url(../img/features/motel.png);
  background-repeat: no-repeat;
  background-position: 50% 23%;
  padding-top: 162px;
}

.features__item--food {
  background-image: url(../img/features/food.png);
  background-repeat: no-repeat;
  background-position: 50% 23%;
  padding-top: 162px;
}

.features__item--souvenirs {
  background-image: url(../img/features/souvenirs.png);
  background-repeat: no-repeat;
  background-position: 50% 23%;
  padding-top: 162px;
}

.features__text {
  text-align: center;
}

.features h3 {
  margin: 0;
  padding: 0 70px;
  font-size: 21px;
  line-height: 21px;
  color: #000;  
  margin-bottom: 24px;
}

.features__text p {
  margin-top: 20px;
  padding: 0 22px;
}

.features__item--with-preview {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0;
  width: auto;  
  background-color: #e8a696;
}

.features__item--with-preview h3,
.features__item--with-preview span,
.features__item--with-preview p {
  color: #fff;
}

.features__item--with-preview p {
  padding: 0;
}

.features__item--with-preview .features__text {
  width: 400px;
  background-color: #81b3d2;
  padding: 47px 49px 0;
}

.features__preview img {
  width: 100%;
  display: block;
}

.features__line:last-child {
  background-color: #eee;
}

.features__line:last-child .features__item {
  padding-bottom: 55px;
}

.search-hotel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 52px;
  text-align: center;
}

.search-hotel b {
  font-size: 30px;
  line-height: 36px;
  color: #000;
  margin-bottom: 23px;
}

.search-hotel p {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #333;
  margin: 0;
  padding: 0;
  margin-bottom: 130px;
}

.search-hotel__modal {
  width: 568px;
  position: relative;
}

.search-hotel__show-form {
  display: block;
  width: 100%;
  padding: 30px 20px;
  background-color: #766357;
  font-size: 21px;
  line-height: 26px;
  color: #fff;
  text-align: center;
  position: absolute;
  bottom: 0;
  cursor: pointer;
}

.hotel__book {
  background-color: #766357;
  color: #fff;
}

.search-hotel__show-form:hover, .hotel__book:hover {
  background-color: #604e43;
}

.search-hotel__show-form:active, .hotel__book:active {
  background-color: #503e33;
  color: #928a85;
}

.search-hotel__form {
  position: absolute;
  width: 100%;
  background-color: #fff;
  padding: 55px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-animation-name: appearing;
          animation-name: appearing;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;  
  -webkit-box-shadow: 0 10px 15px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 15px 0px rgba(0, 0, 0, 0.2);
}

.search-hotel__form--no-js {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 568px;
  position: static;
  margin: 90px auto;
}

.search-hotel__form--hidden {  
  display: none;
}

.search-hotel__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 32px;
}

.search-hotel__input-container {
  position: relative;
}

.search-hotel__item input {
  border: none;
  background-color: #f2f2f2;
  padding: 6px 13px;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  width: 346px;
}

.search-hotel__item input:hover {
  background-color: #ebebeb;
}

.search-hotel__item input:focus {
  background-color: #fff;
  outline-color: #ebebeb;
}

.search-hotel__adult,
.search-hotel__children {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-hotel__adult input,
.search-hotel__children input {
  width: 114px;
  padding-left: 50px;
}

.search-hotel__adult label {
  margin-right: 40px;
}
.search-hotel__children label {
  margin-right: 25px;
}

.search-hotel__calendar {
  position: absolute;  
  width: 21px;
  height: 22px;
  background-color: transparent;
  border: none;
  outline: none;
  top: 7px;
  right: 10px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.search-hotel__sign {
  position: absolute;
  width: 38px;
  height: 38px;
  background-color: transparent;
  border: none;
  outline: none;
  top: 0px;
  margin: 0;
  padding: 0;
  cursor: pointer;  
}

.search-hotel__sign svg {
  fill: #a9a9a9;
}

.search-hotel__minus {
  left: 0px;
}

.search-hotel__plus {
  right: 0px;
}

.search-hotel__sign:hover svg {
  fill: #000;
}

.search-hotel__sign:active svg {
  fill: #81b3d2;
}

.search-hotel__calendar svg {
  fill: #a9a9a9;
}

.search-hotel__calendar:hover svg {
  fill: #000;
}

.search-hotel__calendar:active svg {
  fill: #81b3d2;
}

.search-hotel__submit {
  width: 100%;
  border: none;
  background-color: #81b3d2;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  padding: 16px 20px;
  margin-top: 22px;
}

.search-hotel__submit:hover {
  background-color: #669ec0;
}

.search-hotel__submit:active {
  background-color: #5496bd;
  color: #88b6d1;
}

.search-hotel__form--error {
  -webkit-animation-name: shake;
          animation-name: shake;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

@-webkit-keyframes appearing {
  0% {
    -webkit-transform: rotate(180deg) translateY(-1000px);
            transform: rotate(180deg) translateY(-1000px);
  }
  70% {
    -webkit-transform: translateY(-30px) rotate(0deg) ;
            transform: translateY(-30px) rotate(0deg) ;
  }
  90% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px)
  }
}

@keyframes appearing {
  0% {
    -webkit-transform: rotate(180deg) translateY(-1000px);
            transform: rotate(180deg) translateY(-1000px);
  }
  70% {
    -webkit-transform: translateY(-30px) rotate(0deg) ;
            transform: translateY(-30px) rotate(0deg) ;
  }
  90% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px)
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

.map {
  width: 100%;
  height: 590px;
  border: 0;
  background-image: url(../img/background-map.jpg);
  background-repeat: no-repeat;
  background-color: #cbdda9;
}

/* === footer === */

.footer-main {  
  position: absolute;
  width: 100%;
  bottom: 0px;  
}

.footer__background {
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: .85;
  background-color: #fff;
  z-index: 1;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding: 35px 100px 35px 135px;
  z-index: 2;
}

.footer__hashtag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__hashtag a {
  font-size: 21px;
  line-height: 26px;
  color: #000;
}

.social__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: 28px;
}

.social__list li:nth-child(2) {
  margin: 0 6px;
}

.hotel__more {
  color: #fff;
}

.social__link, 
.hotel__more {
  background-color: #81b3d2;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 46px;
  height: 48px;
}

.social__link:hover, 
.hotel__more:hover {
  background-color: #669ec0;
}

.social__link:active, 
.hotel__more:active {
  background-color: #5496bd;
  color: #88b6d1;
}

.social__link:active svg {
  fill-opacity: 0.3;
}

.footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__copyright span {
  font-weight: 400;
}

.footer__htmlacademy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
}

.footer__htmlacademy svg {
  fill: #231f20;
}

.footer__htmlacademy:hover svg {
  fill: #81b3d2;
}

.footer__htmlacademy:active svg {
  fill: #bdbbbc;
}

/* === catalog === */

.filter {
  background-image: url(../img/background-filter.jpg);
  background-repeat: no-repeat;
  background-position-y: -50px;
  padding: 27px 72px 10px;
  background-color: #668097;
}

.filter__infrastructure {
  margin-right: 120px;
}

.filter__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.filter__title {
  margin: 0;
  padding: 0;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 24px;
}

.filter__option {
  padding-left: 40px;
  margin-bottom: 20px;
}

.filter label {
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.filter__checkbox + label::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 23px;  
  left: -40px;
  background-image: url(../img/svg/checkbox-off.svg);
  background-repeat: no-repeat;
  background-position: left;
}

.filter__checkbox:checked + label::before {
  background-image: url(../img/svg/checkbox-on.svg);
}

.filter__checkbox:disabled + label::before {
  background-image: url(../img/svg/checkbox-off-disabled.svg);
}

.filter__checkbox:checked:disabled + label::before {
  background-image: url(../img/svg/checkbox-on-disabled.svg);
}

.filter ul {
  padding: 0;
  margin: 0;  
  list-style: none;
}

.filter__range {
  width: 319px;
  margin-left: auto;
}

.filter__title--range {
  margin-bottom: 10px;
}

.price-controls {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #ffffff;
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 30px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 148px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 20px;
  height: 20px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

.results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 24px 72px 19px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  border-bottom: 1px solid #e5e5e5;
}

.results__quantity {
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-right: 49px;
}

.sort__title,
.sort__type {
  font-size: 12px;
  line-height: 18px;
  color: #000;
  font-weight: 400;
  margin-right: 40px;
}

.results__sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sort__type {
  color: #cacaca;
  border-bottom: 1px dotted #81b3d2;
  margin-right: 34px;
}

.sort__type--active {
  color: #81b3d2;
  border-bottom: none;
}

.sort__type:hover {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
}

.sort__type:active {
  color: #231f20;
  border-bottom: none;
}

.sort__arrows {
  margin-left: auto;
}

.sort__arrow svg {
  fill: #cacaca;
}

.sort__arrow--active svg {
  fill: #81b3d2;
}

.sort__arrow:hover svg {
  fill: #231f20;
}

.sort__arrow:active svg {
  fill: #81b3d2;
}

.sort__arrow--descending {
  margin-left: 10px;
}

.sort__arrow--active:hover svg {
  fill: #81b3d2;
}

.sort__arrow--active:active svg {
  fill: #81b3d2;
}

.hotels p,
.hotels h1 {
  margin: 0;
  padding: 0;
}

.hotels__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hotels__item {
  border-bottom: 1px solid #e5e5e5;
}

.hotel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 30px 70px;
}

.hotel__preview {
  width: 135px;
}

.hotel__preview img {
  display: block;
}

.hotel__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding-left: 30px;
}

.hotel__name {
  width: 100%;
  font-size:  21px;
}

.hotel__name a {  
  color: #000;
}

.hotel__name a:hover {
  color: #81b3d2;
}

.hotel__name a:active {
  color: #000;
  opacity: .3;
}

.hotel__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 6px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hotel__type, 
.hotel__cost, 
.hotel__rating p {
  line-height: 21px;
  font-weight: 400;
  color: #333;
}

.hotel__type {
  margin-bottom: 12px;
}

.hotel__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-left: auto;
}

.hotel__rating p {
  color: #666;
  background-color: #f2f2f2;
  padding: 5px 15px;
}

.hotel__stars svg {
  margin-left: 3px;
}

.hotel__more,
.hotel__book {
  line-height: 21px;
  padding: 3px 17px;
}